.about-hero {
    &__marquee {
        overflow: hidden;
    }

    &__marquee-row {
        display: flex;
        position: relative;
        text-align: center;
        white-space: nowrap;
    }

    &__marquee-item {
        position: relative;
        line-height: 100%;
        font-size: 3.75vw;
        padding: 48px 0;
        text-transform: uppercase; 

        &-text {
            position: relative;
            display: inline-block;
            z-index: 1;
            padding: 0 64px;
            font-size: clamp(24px, calc(1.5rem + ((1vw - 7.68px) * 1.0417)), 1.875vw);
        }

        &--stroke {
            color: transparent;
            text-shadow: none;
            -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
        }
    }
}